body {
    margin: 0;
    padding: 0;
    background-color: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

#game2048 .game-head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.game-head .new-game {
    background-color: #8f7a66;
    color: #f9f6f2;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
}

.game-head div {
    text-transform: uppercase;
    align-self: flex-end;
}
